

<!-- Top / Current Weather -->
<div class="jumbotron">
  

   <form>
    <i class="fa fa-map-marker fa-3x"></i>
    <input type="text" id="location" placeholder="Brooklyn, NY" class="location-search">
              </form>
  As of: <%= @current_time %>
  <br>
  <%= @current_temp_f %>&deg;<%= image_tag @description_icon_link %>
<br>
<%= @description %>
</div>


<div class="forecast">
<!-- Five Day Forecast -->
<div class="card-deck">
  <div class="card hoverable">
    <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
    <div class="card-body">
      <!-- Day -->
      <h5 class="card-title"><%= Date.today.strftime("%A") %></h5>
      <%= image_tag @description_icon_link %> <br>

      <p class="card-text">This is GGGGGa wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>


  <div class="card hoverable">
    <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Next Day</h5>
      <%= image_tag @description_icon_link %> <br>

      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>


  <div class="card hoverable">
    <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Next Day</h5>
      <%= image_tag @description_icon_link %> <br>

      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>


<div class="card hoverable">
    <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Next Day</h5>
      <%= image_tag @description_icon_link %> <br>

      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>

<div class="card hoverable">
    <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Next Day</h5>
      <%= image_tag @description_icon_link %> <br>

      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>
</div>
</div>



Description: <%= @description %> <br>

<%= image_tag @description_icon_link %> <br>

Latitude: <%= @lat%> <br>
Longitude: <%= @lon%> <br>

<div>
<%= @current_weather%>
</div>
<hr>

   <pre><%= JSON.pretty_generate(@five_day_forecast) %></pre>



<div>
The daily 5 day forecast is: <%= @five_day_forecast%>
</div>
<!--
<% @current_weather.each do |key, value| %> 
<div>

 <%= "The #{key} is #{value}." %>
 </div>
<% end %>  --> 
