
<!-- Top / Current Weather -->
<div class="jumbotron">
  

   <form>
    <i class="fa fa-map-marker fa-3x"></i>
    <input type="text" id="location" placeholder="Brooklyn, NY" class="location-search">
    </form>
    As of: <%= @current_time %><br>
  <%= @current_temp_f %>&deg;<%= image_tag @description_icon_link %><br>
  <%= @description %>
</div>

<% weather_cards = @list.select{ |item| item["dt_txt"].include? "15:00"} %>


<div class="forecast">
<!-- Five Day Forecast -->
<div class="card-deck">
<% weather_cards.each do |t| %>
  <div class="card hoverable">
    <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
    <div class="card-body">
      <!-- Day -->
      <h5 class="card-title"><%= Date.parse(t["dt_txt"]).strftime("%A") %></h5> 
      Date: <%= t["dt_txt"]%><br>
      <%= image_tag "http://openweathermap.org/img/w/#{t["weather"][0]["icon"]}.png" %><br>
<<<<<<< HEAD
      Min Temp: <%= t["main"]["temp_min"]%>&deg; <br>
      Max Temp: <%= t["main"]["temp_max"]%>&deg; <br>
=======
      Temp: <%= (t["main"]["temp_max"] * 9/5+ 32).floor %>&deg; <br>
>>>>>>> 9e822bec826bc0f658abf5afdbf7215fa95e5654
      Weather: <%= t["weather"][0]["description"]%> <br>

      <!--<p class="card-text">This is GGGGGa wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>--> 
    </div>
  </div>
  <%end%>
</div>


<!--
   <pre><%= JSON.pretty_generate(@five_day_forecast) %></pre>
-->
